$font-style: Oswald, sans-serif;
$primary-color: black;
%equal-heights{
	display: flex;
	flex-wrap: wrap;
}

%message-shared{
	border: 1px solid #ccc;
	padding: 10px;
	margin: auto;
	color: #333;
}

.message{
	font-size: 20px;
	border: 1px solid black;
	color : black;
}

.error {
  padding-top: 30px;
  @extend .message;
}

#list{
.ul{
 list-style: none;
	}
li {
	display: inline-block; 
	}
}
